body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
  }
  
  #myButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  #myButton:hover {
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  @keyframes zoomIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  #fortune {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    animation: zoomIn 0.5s ease;
  }

  #volumeControl {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
  }
  
  header {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }